---

- name: exclude postgre stuff from the base repos
  lineinfile: "dest=/etc/yum.repos.d/CentOS-Base.repo state=present insertafter='Base' line='exclude=postgresql*'"
  tags:
    - postgre-sql
    - repo

# Kind of an ugly hack to get around the fact that two lines with the same text need to be added
# if we don't have the hash in the line here, it sees the above line in the file (ignoring it's
# insertafter) and skips over it thinking it's already in there
- lineinfile: "dest=/etc/yum.repos.d/CentOS-Base.repo state=present insertafter='Updates' line='exclude=postgresql* #'"
  tags:
    - postgre-sql
    - repo

- name: Install PostgreSQL repo
  yum: name={{ postgre_repo_url }} state=present
  tags:
    - postgre-sql
    - repo

- name: Install PostgreSQL server 9.4
  yum: name=postgresql94-server state=present
  tags:
    - postgre-sql
    - packages

- name: check if postgresql initdb has been run before
  stat: path=/var/lib/pgsql/9.4/data/postgresql.conf get_md5=no
  register: initdb_run
  tags:
    - postgre-sql

- name: init postgre sql DBs
  command: /usr/pgsql-9.4/bin/postgresql94-setup initdb
  when: initdb_run.stat.isreg is undefined or (initdb_run.stat.isreg) == false
  tags:
    - postgre-sql
    - initdb
