[
{
  "pk": 1,
  "model": "auth.user",
  "fields": {
    "username": "{{ superuser_name }}",
    "first_name": "",
    "last_name": "",
    "is_active": true,
    "is_superuser": true,
    "is_staff": true,
    "last_login": "{{ lookup('pipe', 'date +%Y-%m-%dT%H:%M:%S.%N') }}",
    "groups": [],
    "user_permissions": [],
    "password": "{{ encrypted_superuser_pass.stdout }}",
    "email": "{{ superuser_email }}",
    "date_joined": "{{ lookup('pipe', 'date +%Y-%m-%dT%H:%M:%S.%N') }}"
  }
}
]
