# {{ ansible_managed }}

<VirtualHost *:80>

        ServerAdmin {{ admin_email }}
        ServerName {{ server_name }}
        DocumentRoot {{ repo_directory }}

        <Directory {{ repo_directory }}>

            <IfModule mod_authz_core.c>
                # Apache 2.4
                Require all granted
            </IfModule>
            <IfModule !mod_authz_core.c>
                # Apache 2.2
                Options Indexes
                Order allow,deny
                Allow from all
            </IfModule>

        </Directory>
</VirtualHost>

# Is this section necessary?
<Directory {{ repo_directory }}>

        AllowOverride None
        Options None

        <IfModule mod_authz_core.c>
            # Apache 2.4
            Require all granted
        </IfModule>
        <IfModule !mod_authz_core.c>
            # Apache 2.2
            Order allow,deny
            Allow from all
        </IfModule>

</Directory>
