---

- name: Install openvpn
  yum: name=openvpn state=present
  when: ansible_os_family == "RedHat"
  tags:
    - openvpn-client
    - packages

- name: Create OpenVPN directory and ensure permissions
  file: path=/etc/openvpn/ state=directory mode=0700 owner=root group=root
  tags:
    - openvpn-client

- name: Move across openvpn client config
  template: src=client.conf.j2 dest=/etc/openvpn/client.conf
  tags:
    - openvpn-client
    - config_files

- name: Copy across CA cert
  copy: "src={{ vpn_ca_crt }} dest=/etc/openvpn/ca.crt"
  tags:
    - openvpn-client

- name: Copy across server cert
  copy: "src={{ server_crt }} dest=/etc/openvpn/client.crt"
  tags:
    - openvpn-client

- name: Copy across server key
  copy: "src={{ server_key }} dest=/etc/openvpn/client.key"
  tags:
    - openvpn-client

- name: Copy across TLS shared key
  copy: "src={{ tls_key }} dest=/etc/openvpn/ta.key"
  tags:
    - openvpn-client

- name: Start the openvpn client service
  service: name=openvpn@client.service state=started enabled=yes
  when: ansible_os_family == "RedHat"
  tags:
    - openvpn-client
    - services
