---

- name: Install elasticsearch config
  template: src=elasticsearch.yml.j2 dest=/etc/elasticsearch/elasticsearch.yml
  notify: restart elasticsearch
  tags:
    - elk_stack
    - config_files
    - elasticsearch

- name: Install logstash config file
  template: src=logstash.conf.j2 dest=/etc/logstash/conf.d/logstash.conf
  notify: restart logstash
  tags:
    - elk_stack
    - config_files
    - logstash

- name: Install kibana config file
  template: src=kibana.yml.j2 dest=/opt/kibana/config/kibana.yml
  notify: restart kibana
  tags:
    - elk_stack
    - config_files
    - kibana

- include: redhat.yml
  when: ansible_os_family == "RedHat"
