---

- include: redhat.yml
  when: ansible_os_family == "RedHat"

- name: Make required directories
  file: path={{ item }} state=directory
  with_items:
    - "{{ site_directory }}"
    - "{{ site_log_directory }}"

# Check mode on these files, need to specify it?
# Does this really need to be a template?
- name: Install main nginx config file
  template: src=nginx.conf.j2 dest=/etc/nginx/nginx.conf
  notify: restart nginx

- name: Make SSL cert directory
  file: path={{ ssl_cert_dir }} state=directory
        owner=root group=root mode=0400
  with_items:
    - ssl_cert_dir
  when: ssl == true

- name: Copy across SSL certificate
  copy: src=../files/server.crt dest={{ ssl_cert_location }}
        owner=root group=root mode=0400
  with_items:
    - ssl_cert_location
  when: ssl == true

- name: Copy across SSL key
  copy: src=../files/server.key dest={{ ssl_private_key_location }}
        owner=root group=root mode=0400
  with_items:
    - ssl_private_key_location
  when: ssl == true

- name: Copy across bundled CA certs
  copy: src=../files/ca-bundle.pem dest=/etc/nginx/ssl/ca-certs.pem
        owner=root group=root mode=0400
  when: ssl == true

# This will only be run when the file does not exist
- name: Generate Diffie-Hellman parameters
  command: openssl dhparam -out /etc/nginx/ssl/dhparam.pem 2048 creates=/etc/nginx/ssl/dhparam.pem
  when: ssl == true

- name: Install SSL site config file
  template: src=ssl_site.conf.j2 dest=/etc/nginx/sites-available/site.conf
  when: ssl == true

- name: Install site config file
  template: src=site.conf.j2 dest=/etc/nginx/sites-available/site.conf
  when: ssl == false

- name: Link site config to sites-enabled
  file: src=/etc/nginx/sites-available/site.conf dest=/etc/nginx/sites-enabled/site.conf
        state=link
  notify: restart nginx

- name: start nginx and ensure enabled=yes
  service: name=nginx state=started enabled=yes
