---

- name: Install sensu RabbitMQ config
  template: src=rabbitmq.json.j2 dest=/etc/sensu/rabbitmq.json
  notify: restart sensu-client

- name: Install sensu client config file
  template: src=client.json.j2 dest=/etc/sensu/conf.d/client.json
  notify: restart sensu-client

- name: Make sensu SSL directory
  file: path=/etc/sensu/ssl state=directory

- name: Copy across SSL cert
  copy: src=../files/cert.pem dest=/etc/sensu/ssl

- name: Copy across SSL key
  copy: src=../files/key.pem dest=/etc/sensu/ssl

# Download and install some checks
- include: checks.yml

- name: start sensu-client and ensure enabled=yes
  service: name=sensu-client state=started enabled=yes
