# {{ ansible_managed }}

#ListenAddress
{% if sshd_port != 22 %}
Port {{ sshd_port }}
{% endif %}

Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
UsePrivilegeSeparation sandbox

SyslogFacility AUTHPRIV
LogLevel INFO

LoginGraceTime 1m
PermitRootLogin without-password
StrictModes yes

PubkeyAuthentication yes
AuthorizedKeysFile      %h/.ssh/authorized_keys

IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no

PermitEmptyPasswords no
ChallengeResponseAuthentication yes
PasswordAuthentication no

X11Forwarding no
PrintMotd no

#GSSAPIAuthentication yes
#GSSAPICleanupCredentials yes

AllowGroups ssh_users

AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

UsePAM yes
