# {{ ansible_managed }}

# fail2ban - fail2ban jail

# Monitors the fail2ban log itself for bans, if it finds the same
# offending IP being banned 3 times in 2 weeks, it bans them for
# 12 weeks.

[fail2ban]

enabled     = true
filter      = fail2ban
logpath     = /var/log/fail2ban.log
# findtime  = 2 weeks
findtime    = 1209600
# bantime   = 7 weeks (4294967 seems to be the maximum timeout for ipset)
bantime     = 4294967
maxretry    = 3
{% if ansible_os_family == "RedHat" %}
banaction = firewallcmd-allports
# We use the systemd backend however fail2ban's logs are in a file
# in order to monitor the file we need to do the below
backend = auto
journalmatch =
{% else %}
banaction = iptables-ipset-proto6-allports
{% endif %}
