# {{ ansible_managed }}

# fail2ban - fail2ban jail

# Monitors the fail2ban log itself for bans, if it finds the same
# offending IP being banned 3 times in 2 weeks, it bans them for
# 12 weeks.

[fail2ban]

enabled     = true
filter      = fail2ban
logpath     = /var/log/fail2ban.log
# findtime  = 2 weeks
findtime    = 1209600
# bantime   = 12 weeks
bantime     = 5443200
maxretry    = 3
{% if ansible_os_family == "RedHat" %}
banaction = firewallcmd-allports
{% else %}
banaction = iptables-ipset-proto6-allports
{% endif %}
