# {{ ansible_managed }}
# fail2ban - ssh jail

# Current setup looks for any 3 failures in 24 hours and bans
# offending IPs for 72 hours

[sshd]

enabled     = true
# findtime = 1 day
findtime    = 86400
# bantime = 3 days
bantime     = 259200
maxretry    = 3
port        = 22
{% if ansible_os_family == "RedHat" %}
banaction = firewallcmd-ipset
{% else %}
banaction = iptables-ipset-proto6
{% endif %}
