$TTL    604800
@       IN      SOA     site.com. admin.site.com. (
                         2015033101         ; Serial
                         604800          ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;

; Name servers
        IN      NS      ns1.site.com.

; PTR records
5       IN      PTR     ns1.site.com.
