---

# TO DO: Investigate if this is necessary
- name: Change SELinux to allow Docker to connect to TCP sockets
  command: /usr/sbin/setsebool -P docker_connect_any 1

- name: Get the logspout policy module from Github
  get_url:
    url="https://raw.githubusercontent.com/ardinor/selinux-modules/master/logspout/logspout.te"
    dest="/tmp/logspout.te"
    mode=0400
  tags:
    - logging

- name: Turn the logspout policy module .te to a .mod file
  command: checkmodule -M -m -o /tmp/logspout.mod logspout.te
  tags:
    - logging

- name: Turn the logspout policy module .mod into a .pp
  command: semodule_package -o /tmp/logspout.pp -m /tmp/logspout.mod
  tags:
    - logging

- name: Load the logspout policy module
  command: semodule -i /tmp/logspout.pp
  tags:
    - logging

- name: Pull down mojibake code to get the static files for nginx
  git: repo=https://github.com/ardinor/mojibake.git
       dest=/tmp/mojibake

- name: Remove existing static files (if any)
  command: rm -rf /var/www/defestri/static

- name: Move static files over to /var/www/defestri
  command: mv /tmp/mojibake/mojibake/static/ /var/www/defestri/static
  notify: restart nginx

- name: Remove unncessary mojibake code
  command: rm -rf /tmp/mojibake

- name: make /var/mojibake
  file: path=/var/mojibake state=directory

- name: Pull down Docker compose file
  get_url:
    url="https://raw.githubusercontent.com/ardinor/dockerfiles/master/Compose%20files/mojibake/docker-compose.yml"
    dest="/var/mojibake/docker-compose.yml"
    mode=0400

- name: Start mojibake and related containers
  shell: /usr/local/bin/docker-compose up -d
  args:
    chdir: /var/mojibake/
  environment: compose_env
