---

# TO DO: Investigate if this is necessary
- name: Change SELinux to allow Docker to connect to TCP sockets
  command: /usr/sbin/setsebool -P docker_connect_any 1

- name: make /var/www/defestri
  file: path=/var/www/defestri state=directory owner=www-data group=www-data mode=0755

- name: Pull down mojibake code to get the static files for nginx
  git: repo=https://github.com/ardinor/mojibake.git
       dest=/tmp/mojibake

- name: Move static files over to /var/www/defestri
  command: mv /tmp/mojibake/mojibake/static/ /var/www/defestri/static
  notify: restart nginx

- name: Remove unncessary mojibake code
  command: rm -rf /tmp/mojibake

- name: make /var/mojibake
  file: path=/var/www/mojibake state=directory

- name: Pull down Docker compose file
  command: curl -o /var/www/mojibake/docker-compose.yml https://raw.githubusercontent.com/ardinor/dockerfiles/master/Compose%20files/mojibake/docker-compose.yml

- name: Start mojibake and related containers
  command: docker-compose up /var/www/docker-compose.yml -d
