- hosts: web
  sudo: yes

  tasks:
    - name: Start volume container
      docker: image=centos name=dbdata volumes=/dbdata

    - name: Start MariaDB Container
      docker: image=mariadb name=mojibake-db volumes_from=dbdata
              env="MYSQL_ROOT_PASSWORD={{ db_root_password }},
                   MYSQL_USER={{ db_user }},
                   MYSQL_PASSWORD={{ db_user_password }},
                   MYSQL_DATABASE={{ db_table }}"

    - name: Start Mojibake Docker container
      docker: image=ardinor/mojibake-python name=mojibake
              ports=127.0.0.1:{{ mojibake_port }}:8000
              links=mojibake-db:mojibake-db
              env="ADMIN_USER={{ admin_user }},
                   ADMIN_PASS={{ admin_pass }},
                   DB_USER={{ db_user }},
                   DB_PASS={{ db_user_password }}"
