# {{ ansible_managed }}
#
# DHCPv6 Server Configuration file.
#   see /usr/share/doc/dhcp*/dhcpd6.conf.example
#   see dhcpd.conf(5) man page
#

# IPv6 address valid lifetime
#  (at the end the address is no longer usable by the client)
#  (set to 30 days, the usual IPv6 default)
default-lease-time 2592000;

# IPv6 address preferred lifetime
#  (at the end the address is deprecated, i.e., the client should use
#   other addresses for new connections)
#  (set to 7 days, the  usual IPv6 default)
preferred-lifetime 604800;

# T1, the delay before Renew
#  (default is 1/2 preferred lifetime)
#  (set to 3 days)
option dhcp-renewal-time 259200;

# T2, the delay before Rebind (if Renews failed)
#  (default is 3/4 preferred lifetime)
#  (set to 4 days)
option dhcp-rebinding-time 345600;

# Enable RFC 5007 support (same than for DHCPv4)
allow leasequery;

# Global definitions for name server address(es) and domain search list
option dhcp6.name-servers {{ ipv6_dns_servers }};
option dhcp6.domain-search "{{ domain_name }}";

# NTP servers can support SNTP as well? Double check
option dhcp6.sntp-servers {{ ipv6_ntp_servers }};

# The delay before information-request refresh
#  (minimum is 10 minutes, maximum one day, default is to not refresh)
#  (set to 6 hours)
option dhcp6.info-refresh-time 21600;

# The path of the lease file
dhcpv6-lease-file-name "/var/lib/dhcpd/dhcpd6.leases";

authoritative;

# The subnet where the server is attached
#  (i.e., the server has an address in this subnet)
# FD00::/8 is for unique local addresses
# No guarantee dece:a5ed:beef is globally unique (I'm sure it isn't)
# If you want this to be act like a private IPv4 network you should
# block this at your gateway inbound and outbound
# You can generate a different subnet using a tool like this site
#  http://unique-local-ipv6.com/
subnet6 fddd:c0ff:eede:cade::/64 {
        # Two addresses available to clients
        #  (the third client should get NoAddrsAvail)
        #range6 3ffe:501:ffff:100::10 3ffe:501:ffff:100::11;

        range6 fddd:c0ff:eede:cade::/64;

        # Some /64 prefixes available for Prefix Delegation (RFC 3633)
        #prefix6 3ffe:501:ffff:100:: 3ffe:501:ffff:111:: /64;
}

# Static IPv6s
host oneiros {
        # This host entry is hopefully matched if the client supplies a DUID-LL
        # or DUID-LLT containing this MAC address.
        hardware ethernet 01:00:80:a2:55:67;
        fixed-address6 fddd:c0ff:eede:cade::2/64;
}

host nosos {
        hardware ethernet 01:00:80:a2:55:67;
        fixed-address6 fddd:c0ff:eede:cade::4/64;
}

host stygere {
        hardware ethernet 01:00:80:a2:55:67;
        fixed-address6 fddd:c0ff:eede:cade::6/64;
}

host lachesis {
        hardware ethernet 01:00:80:a2:55:67;
        fixed-address6 fddd:c0ff:eede:cade::7/64;
}
