---

- name: Install openvpn
  yum: name=openvpn state=present
  when: ansible_os_family == "RedHat"
  tags:
    - openvpn
    - packages

- stat: path=/etc/openvpn/ta.key get_md5=no
  register: ta_key

- name: Generate HMAC handshake protection key
  command: openvpn --genkey --secret /etc/openvpn/ta.key
  when: ta_key.stat.exists == False
  tags:
    - openvpn

- name: Move across openvpn server config
  template: src=server.conf.j2 dest=/etc/openvpn/server.conf
  tags:
    - openvpn
    - config_files

- name: Start our openvpn service
  service: name=openvpn@server.service state=started enabled=yes
  when: ansible_os_family == "RedHat"
  tags:
    - openvpn
    - services
