# {{ ansible_managed }}

server {
 listen 80;
 server_name www.{{ site_url }};
 return 301 http://$host$request_uri;
}

server {
 listen 80 spdy;
 server_name {{ site_url }};

 keepalive_timeout 70;

 #root {{ root_dir }};
 #index index.html

 access_log {{ access_log }};
 error_log {{ error_log }};

 location ~* \.(ico|css|js|gif|jpg|jpeg|png|xml|pdf)$ {
  expires 1w;
  add_header Pragma public;
  add_header Cache-Control "public, must-revalidate, proxy-revalidate";
  log_not_found off;
 }

 location /static/ {
  root {{ root_dir }}static;
  autoindex off;
 }

 location = /favicon.ico {
  log_not_found off;
  access_log off;
 }

 location = /robots.txt {
  allow all;
  log_not_found off;
  access_log off;
 }

 location ~ /\. {
  deny all;
  access_log off;
  log_not_found off;
 }

 location ~ ~$ {
  access_log off;
  log_not_found off;
  deny all;
 }

 location / {
  proxy_pass http://127.0.0.1:{{ proxy_pass_port }};
  proxy_set_header Host $http_host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forward-For $proxy_add_x_forwarded_for;
 }

}
