---

- name: add deploy user
  user: name={{ deploy_user }} groups=wheel append=yes
  tags:
    - initial
    - users

- name: add deploy user ssh key
  authorized_key: user={{ deploy_user }}
                  key="{{ lookup('file', deploy_user_key) }}"
                  manage_dir=yes
                  state=present
  tags:
    - initial
    - users
    - keys

- name: confirm sudo is installed
  apt: pkg=sudo state=present update_cache=yes
  when: ansible_os_family == "Debian"
  tags:
    - initial
    - packages
    - sudo

# Add the deploy user to the sudoers file and set that they don't
# need a password to use sudo for internal servers only
# internal is set in group_vars/internal
# lineinfile needs to be fully quoted because of the colon
# The deploy user while still be able to sudo on systems
# which are not classed as internal as it is part of the
# wheel group.
- name: confirm sudo is configured for deploy user
  lineinfile: "dest=/etc/sudoers state=present regexp='^# User privilege specification' insertafter='^# User privilege specification' line='{{ deploy_user }} ALL=(ALL) NOPASSWD: ALL'"
  when: internal is defined and internal
  tags:
    - initial
    - sudo

- name: Disable root login in sshd
  lineinfile: dest=/etc/ssh/sshd_config
              regexp='PermitRootLogin.*$'
              line='PermitRootLogin no'
              state=present
  notify: restart sshd
  tags:
    - initial
    - sshd

# Maybe look at allowing deploy user from localnetwork only when interal

- debug: msg="Now login using {{ deploy_user }} and set a password for sudo."

