---

- name: add deploy user
  user: name={{ deploy_user }} groups=wheel append=yes
  tags:
    - initial
    - users

- name: add deploy user ssh key
  authorized_key: user={{ deploy_user }}
                  key="{{ deploy_user_key }}"
                  manage_dir=yes
                  state=present
  tags:
    - initial
    - users
    - keys

- name: confirm sudo is installed
  apt: pkg=sudo state=present update_cache=yes
  when: ansible_os_family == "Debian"
  tags:
    - initial
    - packages
    - sudo

# Add the deploy user to the sudoers file and set that they don't
# need a password to use sudo
- name: confirm sudo is configured for deploy user
  lineinfile: dest=/etc/sudoers
              regexp="^# User privilege specification"
              insertafter="^# User privilege specification"
              line="{{ deploy_user }} ALL=(ALL) NOPASSWD: ALL"
              state=present
  when: internal is defined and internal == 'true'
  tags:
    - initial
    - sudo

- name: Disable root login in sshd
  lineinfile: dest=/etc/ssh/sshd_config
              regexp='PermitRootLogin.*$'
              line='PermitRootLogin no'
              state=present
  notify: restart sshd
  tags:
    - initial
    - sshd

# Maybe look at allowing deploy user from localnetwork only when interal

- debug: msg="Now login using {{ deploy_user }} and set a password for sudo."

