---

- name: Copy across elasticsearch settings
  copy: src=../files/elasticsearch.yml dest=/etc/elasticsearch/elasticsearch.yml
  notify: restart elasticsearch

- name: Remove old version
  file: path=/opt/graylog state=absent
  when: update_graylog == true

- name: Check graylog folder exist
  stat: path=/opt/graylog
  register: graylog_path

- name: Download graylog2
  get_url: url={{ graylog_server_download_url }} dest=/tmp/graylog.tgz
  when: graylog_path.stat.exists == False

- name: extract graylog2
  unarchive: src=/tmp/graylog.tgz dest=/tmp copy=no
  when: graylog_path.stat.exists == False

- name: Move graylog2 to /opt
  command: mv /tmp/graylog-1.0.2 /opt/graylog
  when: graylog_path.stat.exists == False

- name: Make graylog2 config dir
  file: path=/etc/graylog/server state=directory

- name: hash the root password
  shell: echo -n {{ graylog_root_password }} | sha256sum
  register: root_enc_pass

# Still need to do the password_secret var in the template
- name: Install graylog2 config file
  template: src=graylog.conf.j2 dest=/etc/graylog/server/graylog.conf

# From https://stackoverflow.com/a/23728630
- name: generate password secret
  command: python -c "import string; import random; print ''.join(random.SystemRandom().choice(string.ascii_uppercase + string.digits) for _ in range(96))"
  register: password_secret

# This always seems to replace the secret, need to see if we'll have problems
# looging in or not
- name: add password secret to graylog config
  lineinfile: dest=/etc/graylog/server/graylog.conf
              regexp='^password_secret =$'
              line='password_secret = {{ password_secret.stdout }}'
