[Unit]
Description=Mojibake site service
After=syslog.target

[Service]
Type=simple
User=mojibake
Group=mojibake
WorkingDirectory=/opt/mojibake
Environment=VIRTUAL_ENV="/opt/mojibake/venv"
Environment=PATH="$VIRTUAL_ENV/bin:$PATH"
ExecStart=/opt/mojibake/tornado_srv.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
