---

- name: install git/vim/htop/wget
  apt: name={{ item }} state=present update_cache=yes
  with_items:
    - git
    - vim
    - htop
    - wget
  tags:
    - common

# Use ufw or just iptables? Probably need to install it on Debian, installed on Ubuntu afaik
#- name: Enable ufw
#  ufw: state=enabled
#  command: command: /sbin/iptables -I INPUT 1 -p tcp --dport http -j ACCEPT -m comment --comment "web"

# - name: install fail2ban
