---

# For SELinux utilities like semanage
- name: install policycoreutils-python and libselinux-python
  yum: name={{ item }} state=present
  with_items:
    - policycoreutils-python
    - libselinux-python
  when: ansible_selinux != false and
        ansible_selinux.status != "disabled"
  tags:
    - common
    - packages
    - selinux

# Install epel, needed for fail2ban and htop
- name: install EPEL repo
  yum: name=epel-release state=present
  when: ansible_distribution != "Fedora"
  tags:
    - common
    - epel
    - packages

# - name: update packages
#   yum: name=* state=latest
#   when: development is not defined or development == False
#   tags:
#     - common
#     - update
#     - packages

- name: install git/vim/htop/wget/yum fastestmirror/deltarpm
  yum: name={{ item }} state=present
  with_items:
    - git
    - vim
    - htop
    - bind-utils
    - wget
    - yum-plugin-fastestmirror
    - deltarpm
    - screen
    - at
  tags:
    - common
    - packages

- name: install development environment packages
  yum: name={{ item }} state=present
  with_items:
    - setroubleshoot-server
  when: development is defined and development == True
  tags:
    - common
    - packages
    - development-environ
    - selinux

- name: ensure /etc/locale.conf exists
  file: path=/etc/locale.conf state=touch
  tags:
    - common
    - locale

- name: ensure en_AU.utf8 set as default locale
  lineinfile: dest=/etc/locale.conf
              state=present
              line="LANG=en_AU.utf8"
  tags:
    - common
    - locale

- name: check firewalld installed
  stat: path=/usr/lib/systemd/system/firewalld.service get_md5=no
  register: firewalld_installed
  tags:
    - common
    - firewall

- name: start and enable firewalld
  service: name=firewalld state=started enabled=yes
  when: firewalld_installed.stat.isreg is defined and firewalld_installed.stat.isreg
  tags:
    - common
    - firewall

# TO DO: Look at chrony instead of ntp for RHEL7 family
# Or disable chrony if it's already installed?
- name: install ntp
  yum: name=ntp state=present
  tags:
    - common
    - ntp
    - packages

- name: install fail2ban server and components
  yum: name={{ item }} state=present
  with_items:
    - fail2ban-server
    - fail2ban-firewalld
    - fail2ban-systemd
  tags:
    - common
    - fail2ban
    - packages

- name: notify SELinux of a port change for SSH if we changed the port
  command: /usr/sbin/semanage port -a -t ssh_port_t -p tcp {{ sshd_port }}
  when: sshd_port != 22 and
        ansible_selinux != false and
        ansible_selinux.mode == "enforcing"
  tags:
    - common
    - sshd
    - selinux

- name: allow new ssh port through firewall
  firewalld: port={{ sshd_port }}/tcp permanent=true state=enabled
  when: sshd_port != 22
  notify: restart firewalld
  tags:
    - common
    - sshd
    - firewall
