---

# For SELinux utilities like semanage
- name: install policycoreutils-python and libselinux-python
  yum: name={{ item }} state=present
  with_items:
    - policycoreutils-python
    - libselinux-python
  when: ansible_selinux != false and
        ansible_selinux.status != "disabled"
  tags:
    - common
    - packages
    - selinux

# Install epel, needed for fail2ban and htop
- name: install EPEL repo
  yum: name=epel-release state=present
  when: ansible_distribution != "Fedora"
  tags:
    - common
    - epel
    - packages

- name: update packages
  yum: name=* state=latest
  tags:
    - common
    - update
    - packages

- name: install git/vim/htop/wget/yum fastestmirror/deltarpm
  yum: name={{ item }} state=present
  with_items:
    - git
    - vim
    - htop
    - bind-utils
    - wget
    - yum-plugin-fastestmirror
    - deltarpm
    - screen
  tags:
    - common
    - packages

- name: check firewalld installed
  stat: path=/usr/lib/systemd/system/firewalld.service get_md5=no
  register: firewalld_installed
  tags:
    - common
    - firewall

- name: start and enable firewalld
  service: name=firewalld state=started enabled=yes
  when: firewalld_installed.stat.isreg is defined and firewalld_installed.stat.isreg
  tags:
    - common
    - firewall

- name: install ntp
  yum: name=ntp state=present
  tags:
    - common
    - ntp
    - packages

# TO DO: investigate fail2ban-systemd
- name: install fail2ban
  yum: name=fail2ban-server state=latest
  when: internal is not defined or internal is false
  tags:
    - common
    - fail2ban
    - packages

- name: notify SELinux of a port change for SSH if we changed the port
  command: /usr/sbin/semanage port -a -t ssh_port_t -p tcp {{ sshd_port }}
  when: sshd_port != 22 and
        ansible_selinux != false and
        ansible_selinux.mode == "enforcing"
  tags:
    - common
    - sshd
    - selinux

- name: allow new ssh port through firewall
  firewalld: port={{ sshd_port }}/tcp permanent=true state=enabled
  when: sshd_port != 22
  notify: restart firewalld
  tags:
    - common
    - sshd
    - firewall
