{
  "_comment": "{{ ansible_managed }}",

  "handlers": {
    "graphite": {
      "type": "tcp",
      "mutator": "only_check_output",
      "socket": {
        "host": "127.0.0.1",
        "port": 2003
      }
    }

  }
}
