{
  "_comment": "{{ ansible_managed }}",

  "handlers": {
    "graphite": {
      "type": "tcp",
      "mutator": "only_check_output",
      "socket": {
        "host": "{{ graphite_host }}",
        "port": {{ graphite_port }}
      }
    }

  }
}
