{
    "_comment": "{{ ansible_managed }}",
    "sensu": [
        {
            "name": "{{ datacenter_name }}",
            "host": "localhost",
            "ssl": false,
            "port": {{ sensi_api_port }},
            "path": "",
            "timeout": 5000
        }
    ],
    "uchiwa": {
        "port": {{ uchiwa_port }},
        "stats": 10,
        "refresh": 10000
    }
}
