---

# For SELinux utilities like semanage
- name: install policycoreutils-python
  yum: name=policycoreutils-python state=present

- name: install libselinux-python
  yum: name=libselinux-python state=present

- name: install yum-fastestmirror
  yum: name=yum-plugin-fastestmirror state=present

# Need to think more whether this should really be in the common role
# or just in the mojibake role
- name: install git
  yum: name=git state=present

- name: add groups
  group: name={{ item }} state=present
  with_items:
    - ssh_users
    - admins
  tags: users

- name: add ssh users
  user: name={{ item }} groups=ssh_users append=yes password={{ password }}
  with_items:
    - "{{ ssh_users }}"
  tags: users

- name: add admin users
  user: name={{ item }} groups=admins append=yes
  with_items:
    - "{{ admin_users }}"
  tags: users

#key="{{ lookup('file', './files/item.pub' | regex_replace('item', item)) }}"
#- name: make ssh key directory
#  authorized_key: user="{{ item }}"
#                  key="{{ lookup('file', '/home/jordan/.ssh/jvirt01.pub') }}"
#                  manage_dir=yes
#  with_items:
#    - "{{ ssh_users }}"

# Copy sshd config over
# TO DO: Get the main ipv4 and ipv6 addresses and put them in as the listen addresses?
- name: Install sshd config file
  template: src=sshd_config.j2 dest=/etc/ssh/sshd_config
  notify: restart sshd

- name: notify SELinux of a port change for SSH if we changed the port
  command: /usr/sbin/semanage port -a -t ssh_port_t -p tcp {{ sshd_port }}
  when: sshd_port != 22

- name: allow new ssh port through firewall
  firewalld: port={{ sshd_port }} permanent=true state=enabled
  when: sshd_port != 22
  notify: restart firewalld

# Firewalld should be running anway, just double check whether this is needed or not.
- name: ensure firewalld running
  service: name=firewalld state=started enabled=yes

- name: update packages
  yum: name=* state=latest

- name: install ntp
  yum: name=ntp state=present
  tags: ntp

- name: start ntp
  service: name=ntpd state=started enabled=yes
  tags: ntp

# Install epel, needed for fail2ban
- name: install EPEL repo
  yum: name=epel-release state=present
  tags: epel

- name: install fail2ban
  yum: name=fail2ban-server state=latest
  tags: fail2ban

- name: copy fail2ban ssh jail config across
  template: src=sshd.local.j2 dest=/etc/fail2ban/jail.d/sshd.local
  notify: restart fail2ban
  tags: fail2ban

- name: copy fail2ban fail2ban jail config across
  copy: src=../files/fail2ban.local dest=/etc/fail2ban/jail.d/fail2ban.local
  notify: restart fail2ban
  tags: fail2ban

- name: copy fail2ban fail2ban filter across
  copy: src=../files/fail2ban.conf dest=/etc/fail2ban/filter.d/fail2ban.conf
  notify: restart fail2ban
  tags: fail2ban

# The service will fail to start if the log doesn't exist and since we
# haven't started the service before it won't. First touch it
- name: create fail2ban.log
  file: path=/var/log/fail2ban.log state=file
  tags: fail2ban

- name: start fail2ban and ensure enabled=yes
  service: name=fail2ban state=started enabled=yes
  tags: fail2ban
