---

# For SELinux utilities like semanage
- name: install policycoreutils-python
  yum: name=policycoreutils-python state=present

- name: install libselinux-python
  yum: name=libselinux-python state=present

- name: add groups
  group: name={{ item }} state=present
  with_items:
    - ssh_users
    - admins

- name: add ssh users
  user: name={{ item }} groups=ssh_users append=yes password={{ password }}
  with_items:
    - ssh_users
  tags: users

- name: add admin users
  user: name={{ item }} groups=admins append=yes
  with_items:
    - admin_users
  tags: users

# Copy sshd config over
# TO DO: Get the main ipv4 and ipv6 addresses and put them in as the listen addresses?
- name: Install sshd config file
  template: src=sshd_config.j2 dest=/etc/ssh/sshd_config
  notify: restart sshd

- name: notify SELinux of a port change for SSH if we changed the port
  command: /usr/sbin/semanage port -a -t ssh_port_t -p tcp {{ sshd_port }}
  when: sshd_port != 22

- name: allow new ssh port through firewall
  firewalld: port={{ sshd_port }} permanent=true state=enabled
  when: sshd_port != 22

# Firewalld should be running anway, just double check whether this is needed or not.
- name: ensure firewalld running
  service: name=firewalld state=started enabled=yes

- name: update packages
  yum: name=* state=latest

- name: install ntp
  yum: name=ntp state=present
  tags: ntp

- name: start ntp
  service: name=ntpd state=started enabled=yes
  tags: ntp

# Install epel, needed for fail2ban
- name: install EPEL repo
  yum: name=epel-release state=present
  tags: epel

- name: install fail2ban
  yum: name=fail2ban state=latest
  tags: fail2ban

# Copy fail2ban config file over

- name: start fail2ban and ensure enabled=yes
  service: name=fail2ban state=started enabled=yes
  tags: fail2ban
