# {{ ansible_managed }}

input {
  file {
    # Local syslog
    type => "syslog"

    # Wildcards work, here :)
    # /var/log/secure?
    path => [ "/var/log/*.log", "/var/log/messages", "/var/log/syslog",
              "/var/log/httpd/*.log" ]
    #sincedb_path => "/opt/logstash/sincedb-access"
  }
  redis {
    host => "127.0.0.1"
    type => "redis-input"
    data_type => "list"
    key => "logstash"
  }
}

filter {

}

output {
  elasticsearch { bind_host => "127.0.0.1" }
}
