---

- name: install package requirements
  yum: name={{ item }} state=present
  with_items:
    - git
    - python34u
    - python34u-devel
    - libpqxx-devel
    - postgresql-devel
    - python-psycopg2   # for the ansible/postgre commands
    # gcc installs cpp glibc-devel glibc-headers kernel-headers libmpc mpfr
    - gcc
  when: ansible_os_family == "RedHat"
  tags:
    - mojibake
    - packages

- name: install package requirements
  apt: name={{ item }} state=present
  with_items:
    - git
    - python3
  when: ansible_os_family == "Debian"
  tags:
    - mojibake
    - packages

- name: create mojibake user account
  user: name=mojibake comment="Mojibake Application Account" system=yes
        home=/opt/mojibake/
  tags:
    - mojibake
    - users

- name: Change SELinux to allow apache/nginx to connect to other network sockets
  command: /usr/sbin/setsebool -P httpd_can_network_connect 1
  when: selinux_enabled == true
  tags:
    - mojibake
    - selinux

- name: Create the mojibake db
  postgresql_db: name={{ db_name }}
                 encoding='UTF-8'
                 lc_collate='en_AU.UTF-8'
                 lc_ctype='en_AU.UTF-8'
  tags:
    - mojibake

- name: Create mojibake db user/password
  postgresql_user: db={{ db_name }} name={{ db_user }} password={{ db_pass }} priv=ALL
  tags:
    - mojibake

- name: Pull down mojibake code to get the static files for nginx
  git: repo=https://github.com/ardinor/mojibake.git dest=/opt/mojibake/ version=master force=yes
  tags:
    - mojibake

- name: Remove existing static files (if any)
  command: rm -rf /var/www/defestri/static
  tags:
    - mojibake

# Pack javascript?
- name: Ensure /var/www/defestri/static exists
  file: path=/var/www/defestri/static state=directory
  tags:
    - mojibake

- name: Move static files over to /var/www/defestri
  command: mv /opt/mojibake/mojibake/static/ /var/www/defestri/static
  notify: restart nginx
  tags:
    - mojibake

- name: Change ownership of static files
  file:
    path: /var/www/defestri
    mode: u=rwX,g=rX,o=rX
    owner: "{{ httpd_user }}"
    group: "{{ httpd_user }}"
    recurse: yes
  tags:
    - mojibake

- name: Restore the correct SELinux context to our files
  command: /usr/sbin/restorecon -R /var/www/defestri
  when: selinux_enabled == true
  tags:
    - mojibake
    - selinux

- name: Remove unncessary mojibake static files code
  command: rm -rf /opt/mojibake/mojibake/static/
  tags:
    - mojibake

- name: make /etc/mojibake
  file: path=/etc/mojibake state=directory owner=mojibake group=mojibake mode=0700
  tags:
    - mojibake

- name: copy across mojibake settings file
  copy: src=../files/mojibake_settings dest=/etc/mojibake/.mojibake_settings
        owner=mojibake group=mojibake mode=0600
  tags:
    - mojibake

- name: make mojibake virtual environment
  command: pyvenv-3.4 /opt/mojibake/venv
  tags:
    - mojibake

- name: Use pip to install our required python libraries
  pip: requirements=/opt/mojibake/requirements.txt virtualenv=/opt/mojibake/venv
  environment:
    PATH: /usr/pgsql-9.4/bin:{{ ansible_env.PATH }}
  tags:
    - mojibake

- name: ensure ownership is correct
  file:
    path: /opt/mojibake
    mode: u=rwX,g=rX,o=rX
    owner: mojibake
    group: mojibake
    recurse: yes
  tags:
    - mojibake

- name: copy across mojibake service file
  copy: src=../files/mojibake.service dest=/etc/systemd/system/mojibake.service
  tags:
    - mojibake


# run python manage.py create (or make an import option?)
