---

- name: install git
  yum: name=git state=present
  when: ansible_os_family == "RedHat"

- name: install git
  apt: name=git state=present
  when: ansible_os_family == "Debian"

- name: Change SELinux to allow apache/nginx to connect to other network sockets
  command: /usr/sbin/setsebool -P httpd_can_network_connect 1
  when: selinux_enabled == true

- name: Pull down mojibake code to get the static files for nginx
  git: repo=https://github.com/ardinor/mojibake.git dest=/opt/mojibake/

- name: Remove existing static files (if any)
  command: rm -rf /var/www/defestri/static

# Pack javascript?

- name: Move static files over to /var/www/defestri
  command: mv /opt/mojibake/mojibake/static/ /var/www/defestri/static
  notify: restart nginx

- name: Change ownership of static files
  command: chown -R www-data:www-data /var/www/defestri

- name: Restore the correct SELinux context to our files
  command: /usr/sbin/restorecon -R /var/www/defestri
  when: selinux_enabled == true

- name: Remove unncessary mojibake static files code
  command: rm -rf /opt/mojibake/mojibake/static/

- name: make /var/mojibake
  file: path=/var/mojibake state=directory
