$TTL    604800
@       IN      SOA     ns1.int.defestri.org. admin.int.defestri.org. (
                         2015033101         ; Serial
                         604800          ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;

; Name servers
@        IN      NS      ns1.int.defestri.org.

; PTR records
1       IN      PTR     epiales.int.defestri.org.
2       IN      PTR     oneiros.int.defestri.org.
4       IN      PTR     nosos.int.defestri.org.
5       IN      PTR     ns1.int.defestri.org.
6       IN      PTR     stygere.int.defestri.org.
7       IN      PTR     lachesis.int.defestri.org.
