
$TTL    604800
int.defestri.org.  IN SOA ns1.int.defestri.org. admin.int.defestri.org. (
                                                2015033101      ; serial number
                                                3h              ; refresh interval
                                                30m             ; retry interval
                                                3w              ; expiry period
                                                1h              ; negative TTL
)

; name server
int.defestri.org.        IN      NS      ns1.int.defestri.org.

; mail server
int.defestri.org.       IN      MX  10   mail.int.defestri.org.

; A records for name servers
epiales                 IN      A       192.168.1.1
oneiros                 IN      A       192.168.1.2
nosos                   IN      A       192.168.1.4
ns1                     IN      A       192.168.1.5
mail                    IN      A       192.168.1.5
kdc                     IN      A       192.168.1.5
stygere                 IN      A       192.168.1.6
lachesis                IN      A       192.168.1.7

; Other A records
@                       IN      A       192.168.1.7
www                     IN      A       192.168.1.7
