
include "/etc/rndc.key";

zone "int.defestri.org" {
        type master;
        file "int.defestri.org.zone";
        allow-update { key "rndc-key"; };
};

zone "1.168.192.in-addr.arpa" {
        type master;
        file "int.defestri.org.revzone";
        allow-update { key "rndc-key"; };
};
